# Dependencies
/build/node_modules
/node_modules

# Build outputs (需要提交)
# /dist
# /.vitepress/dist
# /assets

# Executables
*.exe
*.dll
*.so
*.dylib

# Logs
*.log

# IDE files
.vscode
.idea

# System files
.DS_Store
Thumbs.dbbuild/
build/docs/.vitepress/dist
build\vue-app\.workbuddy

#Other
复制构建产物.bat

# SniShaperWeb 独立仓库（避免被识别为子模块）
build/vue-app/snishaperweb/404.html
